*{
    margin: 0;
    padding: 0;
    background-color: rgb(66, 66, 66);
    color:rgb(220, 220, 220);
    
}

.cont {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
}

.right {
    margin: 20px;
    padding: 50px;
    box-shadow: 3px 3px 10px red, -1em -.5em .4em olive;
}

.left {

        margin: 20px;
        padding: 50px;
        box-shadow: 6px 6px 15px rgb(35, 35, 152), -.5em -.5em .2em rgb(155, 57, 106);
    
}

.left > * {
    padding: 10px;
}

.bar {
    padding: 15px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 10px    ;
    
}

sup {
    display: flex;
    flex-direction: row;
}
.gold {
    color: gold;
    padding: 0 0 10px 0;
}

.blink_me {
    animation: blinker 1s linear infinite;
    
  }
  


  .blink_me2 {
    animation: blinker .2s linear infinite;
    
  }
  


  .blink_me3 {
    animation: blinker .7s linear infinite;
    
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }


  .blink_me > * {
    margin: 10px 10px;
  }

.sss{
    margin-top: 50px;
    width: 230px;
  height: 230px;
  }
  

.col {
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
}

.ew {
    /* padding: 10px;
    margin: 50px 170px; */
    -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
}

.right2 {
    margin: 20px;
    padding: 50px;
    box-shadow: 3px 3px 10px black, -1em -.5em .4em black, 2em 2em 5em black;
}

.neww {
    justify-content: center;
    align-items: center;
    border: 5px dashed white;
    letter-spacing: 5px;
    padding: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}